/*
Style our app according to the provided design!

green color -> #5f9341

*/
body{
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}


input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #5f9341;
  font-size: 18px;
  margin-bottom: 4px;
}

button {
  background: #5f9341;
  border: 1px solid #5f9341;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
button:hover{
  background: rgb(10, 151, 10);
}

#delete-btn{
  background: white;
  color: #5f9341;
}
#delete-btn:hover{
  background: whitesmoke;
}

#remove-btn{
  padding: 2px 4px;
  border-radius: 2px;
  background: white;
  color: #5f9341;
  margin-left:5px;
}

#remove-btn:hover{
  background: whitesmoke;
}

/* STYLE THE LIST ACCORDING TO THE DESIGN */
#ul{
  
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

a {
  color: #5f9341;
}
